<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sobre Nós</h2>
                    <h3 class="section-subheading text-muted">Quem somos?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Nossos Objetivos</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">O TECNA é um grupo de extensão do IME-USP recentemente formado por professoras, alunas e ex-alunas. Visamos iniciativas para a divulgação da área de Computação para meninas de escolas públicas de ensino médio e dos últimos anos do ensino fundamental. Assim, esperamos aumentar a participação femininanos cursos de Computação USP contribuir para o combate da desigualdade de gênero dentro e fora da universidade. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>A Desigualdade na USP</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Em 1974, no curso do Bacharelado em Ciência da Computação (BCC) do IME-USP, na primeira turma que se formou, 14 dos 20 alunos eram mulheres. Já na turma de 45 estudantes do BCC que se formou em 2018, três eram mulheres. O BCC tem atualmente 34 mulheres e 259 homens matriculados, ou seja, a participação feminina no curso é de apenas 11,6%.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>A Desigualdade no Mundo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Em uma pesquisa realizada em todos os países que participam do Pisa (Programme for International Student Assessment), constatou-se que os pais dos estudantes que fizeram o teste são mais propensos a esperar que os filhos (e não filhas) trabalhem em um campo da ciência, tecnologia, engenharia ou matemática, mesmo quando meninos e meninas têm o mesmo desempenho em matemática.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Meninas Digitais</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">O Meninas Digitais surgiu a partir de discussões no Women in Information Technology (WIT), um workshop do Congresso da Sociedade Brasileira de Computação (SBC). O programa é voltado para estudantes do ensino médio/tecnológico ou dos anos finais do ensino fundamental e envolve diversos tipos de ações, tais como a oferta de cursos, a realização de dinâmicas e oficinas e eventos com profissionais que atuam na área. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Seja parte
                                    <br>da nossa 
                                    <br>história!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>